<h4 class="text-center">Seja bem vindo, e commpartilhe comm todos o seu pat para doação :)</h4>

<form class="form mt-4" [formGroup]="createUser()">
  <div class="form-group">
    <input
     class="form-control"
     placeholder="E-mail"
     name="email"
     formControlName="email">
  </div>
  <br>

  <div class="form-group">
    <input
     class="form-control"
     placeholder="Nome completo"
     name="fullName"
     formControlName="fullName">
  </div>
  <br>

  <div class="form-group">
    <input
     class="form-control"
     placeholder="Nome de usuário"
     name="userName"
     formControlName="userName">
  </div>
  <br>

  <div class="form-group">
    <input
     class="form-control"
     placeholder="Senha"
     type="password"
     name="password"
     formControlName="password">
  </div>
  <br>

  <button
   class="btn btn-primary btn-block">Cadastrar</button>
</form>
<br>

<p>
  Já sou cadastrado, <a (click)="home()" style="color: cadetblue;">fazer login.</a>
</p>
